<link
  href="http://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
  hidden
/>
<div class="container">
  <form action="" #allCompanyCouponsByMaxPriceFormInfo="ngForm">
    <h1>Our Coupons sorted by Price Limit</h1>
    <br />
    <div>
      <label for="maxPrice">Price Limit: </label>
      <input
        id="maxPrice"
        name="maxPrice"
        #maxPriceInfo="ngModel"
        type="number"
        placeholder="Price"
        [(ngModel)]="maxPrice"
        required
      />
      <span *ngIf="maxPriceInfo.errors?.required && maxPriceInfo.touched"
        >*Price is missing</span
      >
    </div>
    <br />
    <button
      value="Submit"
      (click)="getCompanyCouponsByMaxPrice()"
      [disabled]="allCompanyCouponsByMaxPriceFormInfo.form.invalid"
    >
      Submit
    </button>
    <br />
  </form>
</div>

<br />
<ng-template #loading>
  <img src="assets/Images/loading.gif" alt="Loading" />
</ng-template>

<div *ngIf="isClick; then loading"></div>

<table *ngIf="allCompanyCouponsByMaxPrice">
  <thead>
    <tr>
      <th>ID</th>
      <th>Category</th>
      <th>Title</th>
      <th>Description</th>
      <th>Publish Date</th>
      <th>Expiry Date</th>
      <th>Units in Stock</th>
      <th>Price</th>
      <th>Company ID</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of allCompanyCouponsByMaxPrice">
      <td>{{ c.id }}</td>
      <td>{{ c.category }}</td>
      <td>{{ c.title }}</td>
      <td>{{ c.description }}</td>
      <td>{{ c.startDate }}</td>
      <td>{{ c.endDate }}</td>
      <td>{{ c.amount }}</td>
      <td>{{ c.price }} $</td>
      <td>
        <div *ngIf="c.company">{{ c.company.id }}</div>
      </td>
      <td>{{ c.image }}</td>
    </tr>
  </tbody>
</table>

<div class="backToMenu">
  <button routerLink="/company-menu" routerLinkActive="active-link">
    Back to Menu
  </button>
</div>
