<div class="container">
  <h1>Welcome</h1>
  <br />
  <h3>A Cheaper way to enjoy your Shopping OR an Easier way of Marketing</h3>
  <p>
    In this website you can manage your Coupon producing and Database (if you
    registerd as a Company). <br />
    As well as Customers can enjoy from a cheaper way of Consuming (if you
    registerd as a Customer). <br />
    BUT FIRST, the Website Administrator should add you to our registerd
    Database. <br />
    Our site supports Coupon from types of: Electronic devices, Vacations, Spa,
    Gym and Restaurants.
  </p>
  <br />
  <div class="contact">Contact:</div>
  <a type="button" href="https:/github.com/KobiBarOn"
    ><img class="gitHub" src="assets/Images/github.jpg" alt="Not_Found"
  /></a>
  <a type="button" href="https://www.linkedin.com/in/kobi-bar-on-1ba0b8168"
    ><img class="linkedIn" src="assets/Images/linkedin.jpg" alt="Not_Found"
  /></a>
  <a type="button" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1"
    ><img class="linkedIn" src="assets/Images/gmail.png" alt="Not_Found"
  /></a>
</div>
