<link
  href="http://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
  hidden
/>
<div class="container">
  <form action="" #deleteCompanyFormInfo="ngForm">
    <h1>
      Delete Company <br />(deletes all Coupons created by this Company and
      their purchase history as well!)
    </h1>
    <br />
    <div>
      <label for="id">ID: </label>
      <input
        id="id"
        name="id"
        #idInfo="ngModel"
        type="number"
        placeholder="Company ID you want to delete"
        [(ngModel)]="id"
        required
      />
      <span *ngIf="idInfo.errors?.required && idInfo.touched"
        >*ID is missing</span
      >
    </div>
    <br />
    <button
      value="Submit"
      (click)="deleteCompany()"
      [disabled]="deleteCompanyFormInfo.form.invalid"
    >
      Submit
    </button>
    <br />
  </form>
</div>

<div class="backToMenu">
  <button routerLink="/admin-menu" routerLinkActive="active-link">
    Back to Menu
  </button>
</div>
