<link
  href="http://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
  hidden
/>
<div class="container">
  <form action="" #allCustomerCouponsByCategoryFormInfo="ngForm">
    <h1>My Coupons sorted by Category</h1>
    <br />
    <div>
      <label for="category">Category: </label>
      <select
        name="category"
        id="category"
        [(ngModel)]="category"
        #categoryInfo="ngModel"
        required
      >
        <option value="ELECTRONICS">Electronics</option>
        <option value="RESTAURANT">Restaurant</option>
        <option value="VACATION">Vacation</option>
        <option value="GYM">GYM</option>
        <option value="SPA">SPA</option>
      </select>
      <span *ngIf="categoryInfo.errors?.required && categoryInfo.touched"
        >*Please select the Coupons Category</span
      >
    </div>
    <br />
    <button
      value="Submit"
      (click)="getCustomerCouponsByCategory()"
      [disabled]="allCustomerCouponsByCategoryFormInfo.form.invalid"
    >
      Submit
    </button>
    <br />
  </form>
</div>

<br />
<ng-template #loading>
  <img src="assets/Images/loading.gif" alt="Loading" />
</ng-template>

<div *ngIf="isClick; then loading"></div>

<!-- Coupon_ID, Company_ID, startDate and amount is not included - I don't think that a customer should see this data -->
<table *ngIf="allCustomerCouponsByCategory">
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Description</th>
      <th>Expiry Date</th>
      <th>Price</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of allCustomerCouponsByCategory">
      <td>{{ c.category }}</td>
      <td>{{ c.title }}</td>
      <td>{{ c.description }}</td>
      <td>{{ c.endDate }}</td>
      <td>{{ c.price }} $</td>
      <td>{{ c.image }}</td>
    </tr>
  </tbody>
</table>

<div class="backToMenu">
  <button routerLink="/customer-menu" routerLinkActive="active-link">
    Back to Menu
  </button>
</div>
